<!DOCTYPE html>
<html lang="ko">
<head>
    <title>산마루</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>페이지를 찾을 수 없습니다.</h1>
<!--th:block layout:fragment="header" th:include="@{/fragments/header}"></th:block>
<h1>This is 404 Error Page!</h1>
<div> CODE: <span th:text="${code}"></span>
    <br> MSG: <span th:text="${msg}"></span>
    <br> TIMESTAMP: <span th:text="${timestamp}"></span>
    <br>
</div>
<th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block-->
</body>
</html>